 .pro-active-containers {
    background: #fff !important;
    
   
    a{
        cursor: pointer;
    }
    .edits{
            margin: 0 10px;
    }
  }
  .btn-tightss{
      float: right;
      margin: -22px 0;
   
}