
.nav1{
  width:100%;
  margin-top:-69px;
  .nav_{
    margin: auto;
    background: white;
    width:1240px;
    font-size: 20px;
    padding: 20px;
    a{
      width:24%;
      text-align: center;
      color:#93A0B0;
    }
  }
}
//页面1
.page3{
  width:100%;
}
//第一部分
.operation1{
  width:1240px;
  margin:auto;
  background: white;
  h1{
    text-align: center;
    padding: 50px 0;
    font-weight:bold;
    z-index:999;
  }
}
.title .hover{
  width:120px;
  height:25px;
  margin-left: 559px;
  margin-top: -66px;
  background: yellow;
}
.word1{
  padding: 50px;
  font-size: 16px;
  line-height: 40px;
}
.num3{
  padding: 0 50px 50px 50px ;
}
.num_1{
  width:33%;
  display: inline-block;
  text-align: center;
  span{
    color:red;
    text-shadow: 0 5px 10px rgba(254,98,109,.3);
  }
  .big_w{
    font-size: 40px;
  }
  .small_w{
    font-size: 20px;
  }
  p{
    padding:10px 0;
    color:gray;
    font-size: 16px;
  }
}
.center1{
  border-right:1px solid gray;
  border-left:1px solid gray;
  margin:20px 0;
}
//第二部分
.content1{
  width:1240px;
  height:360px;
  margin:50px auto;
  position: relative;
  .text{
    width:1190px;
    height:310px;
    margin: 50px 0 0 50px;
    background: white;
    position: absolute;
    .text_{
      width:680px;
      margin-top:50px;
      margin-left: 385px;
      font-size: 16px;
      line-height:40px;
    }
  }
}
.img_1,.img_2,.img_3{
  width:360px;
  height:310px;
  z-index:1;
  position: absolute;
  h2{
    margin:60px 50px;
    color:white;
    font-size:30px;
  }
  p{
    color:white;
    margin-left: 50px;
    font-size: 15px;
  }
}
.img_1{
  background: #2f54eb;
}
.img_2{
  background: orange;
}
.img_3{
  background: mediumpurple;
}



//页面2
.money2{
  width:1240px;
  margin:auto;
  h1{
    text-align: center;
    padding: 50px 0;
    font-weight:bold;
    z-index:999;
  }
}
//资金安全
.safe1{
  background: white;
  span{
    line-height: 40px;
    font-size: 20px;
    font-weight: bold;
    display: inline-block;
    padding: 50px 0 0 50px;
  }
}
 .img_{
   height:500px;
   padding: 50px;
 }
 //民生银行
 .minsheng{
   margin: 50px 0;
   background: rebeccapurple;
   h1{
     color:white;
     line-height: 30px;
   }
   .title_ .hover{
     width:262px;
     height:25px;
     margin-left: 488px;
     margin-top: -66px;
     background: mediumpurple;
   }
   .word_{
     padding: 50px;
     font-size: 16px;
     color:white;
     line-height: 40px;
   }
 }

//
.QA{
  background: white;
  margin-bottom:50px ;
  span{
    line-height: 40px;
    font-size: 20px;
    font-weight: bold;
    display: inline-block;
    padding: 50px 0 0 50px;
  }
  .title .hover_{
    width:228px;
    height:25px;
    margin-left: 506px;
    margin-top: -66px;
    background: yellow;
  }
  .word2_{
    padding:15px 50px ;
    font-size: 16px;
    color:black;
    line-height: 30px;
  }
  .word2_1{
    padding:15px 50px 80px 50px;
    font-size: 16px;
    color:black;
    line-height: 30px;
  }
}
//页面3
.control1{
  margin-bottom: 50px;

}
.control_{
  width:1240px;
  margin:auto;
  background: white;
  h1{
    text-align: center;
    padding: 50px 0;
    font-weight:bold;
    z-index:9;
  }
}
.part_1{
  height:150px;
  padding:0 50px 50px 50px;
  .part_1_l,.part_1_r{
    width:569px;
    height:150px;
    display: inline-block;
    .img{
      width:145px;
      height:145px;
      display: inline-block;
    }
    .text_3{
      width:340px;
      padding-right:50px;
      height:150px;
      float:right;
      span{
        display: inline-block;
        padding: 0 30px 30px 10px;
        font-size: 20px;
        font-weight: bold;
      }
      p{
        color:gray;
        line-height: 20px;
        padding-left:10px;
        font-size: 13px;
      }
    }
  }
}
.part_1_l:after{
  content:"";
  clear: both;
  display: block;
}
.part_1_r::after{
  content:"";
  clear: both;
  display: block;
}
//预警系统
.warning-system{
  width:1240px;
  background: white;
  margin: 50px auto;
  padding-bottom: 50px;
  position: relative;
  z-index:100;
  .system{
    height:370px;
    display: flex;
    justify-content: space-around;
    padding:0 50px;
    .system_1{
      margin: 15px;
      width:23%;
      box-shadow: 0 6px 60px 0 rgba(0,0,0,.05);
      .img{
        width:80px;
        height:80px;
        text-align: center;
        margin:20px 102px;
      }
      .title{
        font-size: 18px;
        font-weight: bold;
        text-align: center;
      }
      .text{
        line-height: 30px;
        color:gray;
        padding:20px ;
        font-size: 13px;
      }
    }
  }
  .word{
    padding:30px  50px;
    font-size: 16px;
    line-height: 40px;
  }
}
//穹顶计划
.Dome-project{
  width:1519px;
  background: purple;
  margin-top: -100px;
  padding-bottom: 50px;
  border:1px solid transparent;
    h1{
      margin-top: 100px;
      text-align: center;
      color:white;
      line-height: 30px;
    }
    .title_ .hover{
      width:125px;
      height:25px;
      margin-left: 889px;
      margin-top: -15px;
      background: mediumpurple;
    }
    .word_{
      padding: 50px 175px;
      font-size: 16px;
      color:white;
      line-height: 40px;
    }
}
.plan1{
  width:1240px;
  background: white;
  margin: -50px auto 0 auto;
  border:1px solid transparent;
  .data{
    width:400px;
    height:200px;
    margin: 50px auto 0 auto;
    .data_1{
      .text{
        display: inline-block;
        margin:15px 18px;
        font-size: 18px;
      }
      .num_{
        margin:15px 35px;
        display: inline-block;
        font-size: 18px;
        color:#849DF9;
      }
      .num_2{
        margin:15px 35px;
        display: inline-block;
        font-size: 18px;
        color:#2EDBF4;
      }
      .text_3{
        display: inline-block;
        margin:15px 18px;
        font-size: 18px;
      }
      .num_3{
        margin:15px -19px;
        display: inline-block;
        font-size: 18px;
        color:#EA27F6;
      }
    }
  }
  .question1{
    background: white;
    margin-bottom:50px ;
    span{
      line-height: 40px;
      font-size: 20px;
      font-weight: bold;
      display: inline-block;
      padding: 50px 0 0 50px;
    }
    .title .hover_{
      width:228px;
      height:25px;
      margin-left: 506px;
      margin-top: -66px;
      background: yellow;
    }
    .word2_{
      padding:15px 50px ;
      font-size: 16px;
      color:black;
      line-height: 30px;
    }
    .word2_1{
      padding:15px 50px 35px 50px;
      font-size: 16px;
      color:black;
      line-height: 30px;
    }
  }
}

.law{
  width:1240px;
  background: white;
  margin: 50px auto;
  h1{
    text-align: center;
    padding: 50px 0;
    font-weight:bold;
    z-index:999;
  }
  .title .hover{
    width:120px;
    height:25px;
    margin-left: 559px;
    margin-top: -66px;
    background: yellow;
  }
  .word{
    padding: 50px;
    font-size: 16px;
    line-height: 40px;
  }
}


//页面4
.information1{
  width:1240px;
  background: white;
  margin:0 auto 50px auto;
  h1{
    text-align: center;
    padding: 50px 0;
    font-weight:bold;
    z-index:999;
  }
  .information-safe{
    margin: auto;
    display: flex;
    justify-content: space-around;
    margin: 0 20px;
    padding-bottom: 30px;
    .part1{
      box-shadow: 0 6px 14px 0 rgba(0,0,0,.2);
      display: inline-block;
      width: 550px;
      height: 195px;
      background: rebeccapurple;
      .title{
        display: inline-block;
        margin: 40px 30px 30px 30px;
        color:white;
        font-size: 20px;
      }
      .text{
        padding:0  30px;
        color:white;
        font-size: 13px;
      }
    }
    .part2{
      box-shadow: 0 6px 14px 0 rgba(0,0,0,.2);
      display: inline-block;
      width: 550px;
      height: 195px;
      background: orange;
      .title{
        display: inline-block;
        margin: 40px 30px 30px 30px;
        color:white;
        font-size: 20px;
      }
      .text{
        padding:0  30px;
        color:white;
        font-size: 13px;
      }
    }

  }
  .prove{
    padding-bottom:80px ;
    p{
      font-size: 20px;
      font-weight: bold;
      text-align: center;
      padding: 30px;
    }
    .img{
      width:500px;
      height:345px;
      margin:auto;
      border:1px solid red;
    }
  }
}


//充值界面
.recharge{
  width:100%;
  height:100%;
  min-width: 1248px;
  background: rgba(0,0,0,.5);
  position: fixed;
  top:0;
  left:0;
  z-index:99;
  .page{
    width:600px;
    height:400px;
    background: white;
    border-radius: 5px;
    position: relative;
    top:200px;
    left:480px;
    .cancle{
      position: absolute;
      top:10px;
      right:15px;
    }
    .content{
      width:180px;
      height:260px;
      position: absolute;
      top:50px;
      left:calc(50% - 90px);
      background: white;
      z-index:999;
      .check{
        text-align: center;
      }
      .prompt{
        font-size: 16px;
        color:orange;
        text-align: center;
        margin: 50px 0;
      }
      button{
        display: inline-block;
        margin: 0 50px;
      }
      a{
        color:gray;
        display: inline-block;
        margin: 20px 42px;
      }
    }
  }
  .line{
    position: absolute;
    top:205px;
    left:484px;
    width:590px;
    height:200px;
    border-bottom:1px solid gray;
  }
}
