.box_1 {
  width: 540px;
  height: 35px;
  position: relative;
  margin: 30px 0;
  .pagination_ {
    height: 35px;
    position: absolute;
    right: 10px;
    bottom: 0;
    a {
      width: 35px;
      height: 35px;
      text-align: center;
      line-height: 35px;
      display: inline-block;
      border-radius: 5px;
      border: 1px solid gray;
      margin-left: 3px;
    }
  }
}

.hover_1 {
  background: rgb(107, 192, 174);
  border: 1px solid #3EE9C5;
  color: #fff;
  font-weight: bold;
}

.row_ {
  width: 540px;
  color: #999;
  border-bottom: 1px solid #ccc;
  line-height: 52px;
  text-align: center;
}
