.subsite-coupon {
  width: 252px;
  padding: 50px 35px;
  position: fixed;
  top: 0;
  bottom: 0;
  right: -340px;
  z-index: 12;
  text-align: center;
  transition: right ease 0.5s;
  &.show {
    right: 0;
  }
  .close {
    width: 46px;
    height: 46px;
    position: absolute;
    top: 5px;
    right: 5px;
    background: url(../img/login/ic_close.png) no-repeat center;
    &:hover {
      opacity: 0.6;
    }
  }
  .tit {
    padding-bottom: 30px;
    &>i {
      color: $f90;
      font-size: 22px;
      padding: 0 4px;
    }
  }
  .pic {
    max-width: 240px;
    margin-bottom: 5px;
  }
  .line {
    background: url(../img/subSite/line.png) no-repeat center;
    line-height: 50px;
    margin-top: 20px;
    font-size: 14px;
  }
  .desc {
    padding: 0 15px;
    text-align: left;
  }
}
