@import '../common/_var.scss';
@import './layout.scss';
@import './coupon.scss';

.page_important {
  background-color: #fff;
}
.subsite .sec {
  padding: 40px 20px;
  .tit {
    background: no-repeat center;
    height: 120px;
  }
}
.subsite .sec-about {
  .tit {
    background-image: url(../img/subSite/tit1.png);
  }
  .bd {
    padding-top: 40px;
    &>.fl {
      width: 800px;
      p {
        padding: 10px 0;
        line-height: 2em;
      }
      .border {
        padding: 5px 20px;
      }
    }
    &>.fr {
      width: 214px;
      height: 380px;
      border: 2px solid #333;
      &>img {
        width: 220px;
        height: 314px;
        position: relative;
        left: -100px;
        top: 32px;
      }
    }
  }
}
.subsite .sec-product {
  .tit {
    background-image: url(../img/subSite/tit2.png);
  }
  .tabs {
    padding: 20px 0 40px 0;
    line-height: 36px;
    &>i {
      margin-right: 40px;
    }
    &>a {
      padding: 0 20px;
      &.hover {
        border: 1px solid #666;
      }
    }
  }
  .bd {
    opacity: 1;
    transition: opacity ease 0.3s;
    &.load {
      opacity: 0.3;
    }
  }
  .item {
    float: left;
    margin: 10px 8px;
    padding: 13px 16px;
    border: 1px solid #ddd;
    width: 250px;
    overflow: hidden;
    zoom: 1;
    * {
      float: left;
    }
    &>i {
      width: 250px;
      height: 188px;
      overflow: hidden;
    }
    img {
      width: 250px;
      height: 188px;
      -webkit-transition: transform linear 0.3s;
      transition: transform linear 0.3s;
      &:hover {
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
      }
    }
    &>p {
      padding-top: 18px;
      line-height: 1em;
    }
  }
}
.subsite .sec-honor {
  .tit {
    background-image: url(../img/subSite/tit3.png);
  }
  .bd {
    width: 1116px;
    height: 518px;
    margin: 0 auto;
    background: url(../img/subSite/boxbg.png) no-repeat center;
  }
  .swiper-slide {
    width: 1116px;
    position: relative;
    .t1,.t2 {
      padding-left: 100px;
    }
    .t1 {
      padding-top: 170px;
      font-size: 24px;
    }
    .t2 {
      padding-top: 40px;
      width: 300px;
      color: #666;
    }
    .pic {
      position: absolute;
      top: 68px;
      right: 10px;
      width: 619px;
      height: 381px;
    }
  }
  .page {
    position: absolute;
    right: 10px;
    top: 10px;
    b {
      font-size: 26px;
      padding-right: 20px;
    }
    a.btn {
      line-height: 34px;
      width: 36px;
      font-size: 24px;
      margin-left: 10px;
      border: 2px solid #555;
      color: #333;
      &:hover {
        background-color: #ddd;
      }
    }
  }
}
.subsite .sec-news {
  .tit {
    background-image: url(../img/subSite/tit4.png);
  }
  .bd {
    padding: 40px 0;
  }
  .item {
    float: left;
    width: 50%;
    height: 120px;
    position: relative;
    .day {
      position: absolute;
      left: 35px;
      top: 0;
      font-size: 44px;
      line-height: 40px;
    }
    .month {
      position: absolute;
      left: 32px;
      top: 44px;
    }
    .t1,.t2 {
      padding: 0 40px 0 120px;
    }
    .t1 {
      font-size: 18px;
      padding-bottom: 10px;
    }
  }
}
.subsite-contact {
  background-color: #393A3E;
  .tit {
    background: url(../img/subSite/tit5.png) no-repeat center;
    height: 360px;
  }
  .w {
    width: 910px;
  }
  .bd {
    padding: 0 0 170px 0;
    color: #999;
    font-size: 14px;
    p {
      line-height: 2em;
    }
    &>.fl {
      width: 450px;
      .f18 {
        padding: 30px 0;
      }
    }
    &>.fr {
      width: 456px;
    }
  }
  .form {
    .put {
      width: 430px;
      line-height: 40px;
      padding: 0 10px;
      color: #ccc;
      border: 1px solid #999;
      background-color: transparent;
      border-radius: 3px;
      margin-bottom: 8px;
      font-size: 14px;
    }
    textarea.put {
      line-height: 26px;
    }
    .btn {
      width: 452px;
      background-color: #5B5B5B;
      text-align: center;
      color: #fff;
      line-height: 40px;
      &:hover {
        background-color: #666;
      }
    }
  }
}
.subsite-banner{
  .big{
    position: relative;
    top:-58px;
    z-index:1;
  }
}

.center{
  .product{
    width:100px;
    color:black;
    font-size: 14px;
  }
  #hover_{
    width:80px;
    height:36px;
    line-height: 36px;
    font-size: 14px;
    background: white;
    color:black;
  }
  .hover_ {
    border:1px solid black;
    font-size: 14px;
    font-weight: normal;
  }
}
#hover_:hover{
  background: white;
  color:gray;
  //border:1px solid black;
  border:1px solid transparent;
  //border:none;
}

.tabs{
  border-bottom: none;
}

.topnavs_ .relative {
  background: white;
  width:100%;
}

.w-m{
  width:1248px;
  position: relative;
  margin: 0 auto;
}
