.sec-qa {
    padding: 100px 0;
    &>.w>.fl {
        width: 258px;
        padding: 0 26px;
        min-height: 570px;
        .t1 {
            font-size: 30px;
            font-weight: bold;
            line-height: 70px;
            padding-top: 6px;
        }
        .t2 {
            font-size: 24px;
            line-height: 50px;
            border-top: 1px solid #ccc;
            a {
                display: block;
            }
        }
    }
    &>.w>.fr {
        width: 900px;
        font-size: 22px;
        background-color: $f5;
        padding-bottom: 240px;
        height: 600px;
        overflow-y: scroll;
        .c6 {
            text-indent: 2em;
            padding: 25px 70px 16px 70px;
            background-color: #fff;
        }
        .q {
            padding: 0 70px;
            line-height: 76px;
            border-top: 1px solid #ddd;
            border-bottom: 1px solid #ddd;
            background-color: #fff;
            cursor: pointer;
            .dl {
                float: right;
                width: 8px;
                height: 8px;
                border-left: 1px solid #999;
                border-top: 1px solid #999;
                -ms-transform: rotate(45deg);
                transform: rotate(45deg);
                margin-top: 32px;
            }
        }
        .q.close {
            .dl {
                -ms-transform: rotate(-135deg);
                transform: rotate(-135deg);
            }
            &+.a {
                display: none;
            }
        }
        .a {
            font-size: 18px;
            padding: 30px 70px 40px 120px;
            a {
                color: $f90;
            }
        }
    }
}
