.ant-form-inline .ant-form-item{
  width:750px;
  margin-bottom: 24px;
  //margin: 8px 0;
  .ant-form-item-label{
   width:250px;
  }
  .ant-form-item-control{
    width:500px;
    margin: auto;
    text-align: center;
  }
}


