.appalyloan-tag div {
    width:200px;
    height:150px;
    text-align: center;
    // background: #fff;
    margin-bottom: 8px;
    cursor: pointer;
    span{
	    height: 40px;
        width: 40px;
        border-radius: 50%;
        background: #fff;
        line-height: 40px;
        display: inline-block;
        margin-top: 32px;
        font-size: 20px;
    }
    p{
        font-size: 20px;
        margin-top: 22px;
    }
    .activep{
        color: #fff;
    }
}
        .hides{
            display: none!important;
            visibility: hidden;
            
          } 
          

.appalyactive{
    // color: #fff;
    background: #ff9900;
}
.notappalyactive{
    background: #fff; 
}

.appalyloan-info{
    width: 1015px;
    padding: 30px;
    float: right;
    background-color: #fff;
}
.activespan{
    color: #ff9900
}


// title
.applone-title{
    margin-bottom: 48px;
    .apply_title_span {
        color: #ccc;
        font-size: 24px;
    }
    .apply_title_line {
        border-bottom: 1px solid #ccc;
        width: 100%;
        height: 20px;
    }
}

.span_require_div {
    width: 100%;
    text-align: right;
    position: relative;
    height: 38px;
    line-height: 35px;
    .span_require_div_right {
        float: right;
        font-size: 14px;
        color: #ff6600;
    }
    .span_require_div_left {
        float: right;
        margin-top: 10px;
        margin-right: 13px;
    }
}   

.span_form_suffix {
    position: absolute;
    top: 8px;
    right: 84px;
    font-size: 14px;
}