
.pro-active-title {
    height: 100%;
    background: #fff;
    padding: 35px 16px 0px;
     .recharge-title {
        font-size: 24px;
        margin-bottom: -6px;
    }
    .btn-styles{
        float: right !important;
        margin-top: -25px;
    }
    .pro-active-containers{
        background: #fff !important;
    }
}
.avatar-uploader > .ant-upload {
    width: 128px;
    height: 128px;
  }