
.cp-coupon-content{
    display: inline-block;
    margin-bottom: 10px;
    vertical-align: top;
    &>p{
        &>.project-title{
            font-size: 14px;
            color: #999;
        }
        &>.project-no{
            font-size: 14px;
            color: #666;
        }
    }
    &>.cp-coupon{  
        width: 375px;
        height: 205px;
        margin-top: 10px;
        position: relative;
        &>.cp-coupon-left{ 
            float: left;
            cursor: default;
            width: 115px;
            height: 205px;
            &>.logo{
                height: 95px;
                width: 95px;
                margin:55px 0px 45px 15px; 
                border-radius: 50%;
                border:4px solid #d8d8d8;
                box-shadow: 0px 0px 5px 0px rgba(38, 142, 225, 0.5);
            }
        }
        &>.cp-coupon-center{ 
            cursor: default;
            width: 171px;
            height: 171px;
            padding: 24px 0 10px 10px;
            float: left; 
            color: #fff;
            font-family: MicrosoftYaHeiUI;
            &>.name{ 
                font-size: 12px;
                line-height: 12px;
            
            }
            &>.money{
                margin-top: 10px;
                width: 100%;
                &>.face-money{
                    display: inline-block;
                    padding: 0;
                    margin-top: 10px;
                    font-size: 35px;
                    line-height: 30px;
                }
                &>.face-vlaue{
                    float: right; 
                    margin-right: 10px;
                    font-size: 16px;
                    line-height: 16px;
                    padding: 3px 5px; 
                    margin-top:16px;  
                    border:1px dotted #fff;
                }
            }
            &>ul{
                margin-top: 10px;
                &>li{
                    list-style: disc;
                    margin-left: 14px;
                    font-size: 12px;
                    line-height: 21px;
            }
            }
            
        }
        &>.cp-coupon-right{ 
            float: right; 
            height: 175px;
            margin-right:4px; 
            padding: 15px 20px;
            &>.staus-btn{
                width: 32px;
                margin: 25px 0; 
                font-size: 32px;
                line-height: 35px;
                color: #fff;
                cursor: default;
            }
            .canClick{
                cursor: pointer; 
                &:hover{
                    opacity: .8;
                }
            }
            &>span{
                font-size: 14px;
                color: #fff; 
                position: absolute;
                top: 175px;
                right:20px ;
            }
        } 
    }
    &>.btns{
        text-align: right;
        width: 100%;
        margin-top: 9px;
        Button{
            margin-left: 10px;
            border:1px solid #f90;
            color: #f90;
            border-radius: 5px;
            &:hover{
                opacity: .7;
            }
        }
    }
    &>.doing-panle{
        padding: 20px;
        margin-top: 10px;
        background: #f1f1f1;
        &>a{
            font-size: 20px;
            padding:5px;
        }
        &>.coupon-num{
            width: 60px;
        }
        &>.money{
            margin: 0 30px;
        }
    }

}
.xcy-line-img{
    background:  url(../../img/coupon/xcy-line.png) no-repeat;
}
.xfw-line-img{
    background:  url(../../img/coupon/xfw-line.png) no-repeat;
}
.xls-line-img{
    background:  url(../../img/coupon/xls-line.png) no-repeat;
}
.xny-line-img{
    background:  url(../../img/coupon/xny-line.png) no-repeat;
}
.xyl-line-img{
    background:  url(../../img/coupon/xyl-line.png) no-repeat;
}
.other-line-img{
    background:  url(../../img/coupon/other-line.png) no-repeat;
}

.xcy-img{
    background:  url(../../img/coupon/xcy.png) no-repeat;
}
.xfw-img{
    background:  url(../../img/coupon/xfw.png) no-repeat;
}
.xls-img{
    background:  url(../../img/coupon/xls.png) no-repeat;
}
.xny-img{
    background:  url(../../img/coupon/xny.png) no-repeat;
}
.xyl-img{
    background:  url(../../img/coupon/xyl.png) no-repeat;
}
.other-img{
    background:  url(../../img/coupon/other.png) no-repeat;
}


.xcy-disable{
    background:  url(../../img/coupon/xcy-disable.png) no-repeat;
}
.xfw-disable{
    background:  url(../../img/coupon/xfw-disable.png) no-repeat;
}
.xls-disable{
    background:  url(../../img/coupon/xls-disable.png) no-repeat;
}
.xny-disable{
    background:  url(../../img/coupon/xny-disable.png) no-repeat;
}
.xyl-disable{
    background:  url(../../img/coupon/xyl-disable.png) no-repeat;
}
.other-disable{
    background:  url(../../img/coupon/other-disable.png) no-repeat;
}
