.message{
  width:850px;
  height:592px;
  margin: 30px auto;
  h2{
    text-align: center;
    padding: 20px ;
  }
  h5{
    margin-left:610px;
    text-align: center;
    padding-bottom:20px;
  }
  p{
    line-height: 30px;
    padding: 0 50px ;
    text-indent:2em;
  }
}
