.recharge-info{
    background: #fff;
    padding: 35px 16px 0px;
    .recharge-title{
        font-size: 24px;
        margin-bottom: -6px;
        .recharge-title-child{
            font-size: 14px
        }
    }
    img{
        width: 100%
    }
}
