.recharge-info{
    background: #fff;
    padding: 35px 16px 0px;
    .line{
        padding-bottom: 8px;
        border-bottom:1px dashed #ccc;
    }
    .recharge-title{
        font-size: 24px;
        margin-bottom: -6px;
        .recharge-title-child{
            font-size: 14px
        }
    }
    img{
        width: 100%
    }
    .commission{
        padding-bottom: 100px;
        .commission_content{
          margin-top: 20px;
          padding: 25px;
          background-color: #fffdf8;
          box-shadow: 0 0 40px rgba(0, 0, 0, 0.1);
        //   position: relative;
          P{
              display: inline-block;
              margin-right: 30px;
          }
          Button{
            margin-left: 1065px;
            float: right;
            top: -35px;
          }
        }
    }
}
