.cal {
  position: absolute;
  top: 100px;
  right: 0;
  width: 480px;
  border-radius: 3px;
  background-color: rgba(0,0,0,0.5);
  padding: 40px 1px 70px 1px;
  font-size: 16px;
  color: #fff;
}
.cal .row {
  border-bottom: 1px solid #ddd;
  padding: 0 32px 0 42px;
  .col1 {
    float: left;
    width: 100px;
  }
  .col2 {
    float: right;
    width: 306px;
  }
}
.cal .row1 {
  padding-bottom: 20px;
  .col1 {
    line-height: 50px;
  }
}
.cal .input {
  border: 2px solid #fff;
  border-radius: 5px;
  &>input {
    border: none;
    padding: 0 10px;
    line-height: 46px;
    background: transparent;
    width: 230px;
    font-size: 16px;
    color: #fff;
  }
  &>i {
    line-height: 46px;
    padding-right: 10px;
  }
}

.cal .barbox {
  padding-top: 6px;
  padding-bottom: 22px;
  .col1 {
    line-height: 60px;
  }
  .bar {
    border-radius: 4px;
    background-color: rgba(220,220,220,0.4);
    margin-top: 25px;
    height: 8px;
    .len {
      float: left;
      border-radius: 4px;
      height: 8px;
      background: url(../img/finance/bar.png) no-repeat right center #ffcb65;
      position: relative;
      .g {
        position: absolute;
        top: -7px;
        right: -30px;
        width: 4em;
        padding-top: 30px;
        background: url(../img/finance/bar-btn.png) no-repeat center top;
        font-size: 14px;
        color: #ffffcc;
        text-align: center;
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }
    }
  }
}

.cal .btns {
  padding: 10px 32px 10px 36px;
  .btn {
    text-align: center;
    width: 198px;
    line-height: 48px;
    background-color: rgba(220,220,220,0.4);
    color: #fff;
    &:hover {
      background-color: rgba(220,220,220,0.3);
    }
  }
}

.cal .result {
  padding-right: 112px;
  background-color: rgba(0,0,0,0.5);
  padding-top: 18px;
  padding-bottom: 18px;
  .col1,.col2 {
    line-height: 32px;
  }
  .col2 {
    width: 226px;
    text-align: right;
  }
  em {
    padding-right: 10px;
  }
}

.cal .bot {
  position: absolute;
  left: 0;
  right: 0;
  bottom: -30px;
  text-align: center;
  .btn {
    width: 176px;
    font-size: 24px;
    &>i {
      line-height: 60px;
    }

  }
}
