@import '../common/_var.scss';
@import './_news.scss';

.page_school {
  background: url(../img/project/topbg.png) no-repeat center top $f5;
  padding-top: 136px;
}
.school {
  font-size: 14px;
  padding-bottom: 50px;
  .sec {
    margin-top: 25px;
    padding: 30px 25px;
    .ht {
      padding: 0 8px 35px 5px;
      text-align: right;
      .tit {
        float: left;
        font-size: 24px;
      }
      .tab {
        padding-top: 6px;
        &>a {
          line-height: 14px;
          padding: 0 22px;
          border-right: 1px solid #999;
          &:first-child {
            border-left: 1px solid #999;
          }
        }
      }
    }
    .list {
      width:1192px;
      .items {
        float: left;
        margin: 5px;
        border: 1px solid #ddd;
        width: 286px;
        overflow: hidden;
        zoom: 1;
        .pic {
          float: left;
          width: 286px;
          height: 220px;
        }
        .t1 {
          float: left;
          width: 100%;
          text-align: center;
          line-height: 50px;
          height: 50px;
          overflow: hidden;
        }
      }
    }
  }
}


