@import '../common/_var.scss';

.my-code{
    width:  992px; 
    .top-content{
        padding: 30px;
        padding-bottom: 10px;
        background-color: #fff;
        .sub-title{
            margin-left: 20px;
            color: #999;
        }
        .top-title{
            font-size: 20px;
            color: #333;
            padding-bottom: 5px;
            border-bottom: dashed 1px #e6e6e6;
        }
        &>.t1{
            margin: 30px 10px;
            font-size: 16px;
            color: #333;
            .text2{
                color: #999;
                margin-left: 20px;
                padding: 5px 10px;
                border: 1px solid #e6e6e6; 
            }
        }
        &>.t2{
            margin: 30px 65px;
            font-size: 16px;
            color: #333;
            .text2{
                color: #999;
                margin-left: 20px;
                padding: 5px 10px;
                border: 1px solid #e6e6e6; 
            }
            Button{
                margin-left: 35px;
            }
        }
        &>.t3{
            &>.div1{
                display: inline-block;
                &>.code{
                    margin-left:157px; 
                }
                &>p{
                    margin-left: 157px;
                    font-size: 12px;
                    color: #999;
                }
            }
            &>.text1{
                vertical-align: top;
                display: inline-block;
                width: 330px;
                margin:45px 0 0 50px;
                color: #999;
            }
        }
        &>.t4{
            margin: 30px 80px;
            font-size: 16px;
            color: #333;
            &>.text2{ 
                margin-right: 20px; 
            }
            &>.zjb{
                margin-right: 15px;
            }
            &>.zjb-weixin{
                color: #50b674;
                font-size: 40px;
            }
            &>.zjb-kongjian{
                color: #f5bc33;
                font-size: 40px;
            }
            &>.zjb-weibo{
                color: #ea5d5c;
                font-size: 40px;
            }
            &>.zjb-icon_QQ{
                color: #69a4e0;
                font-size: 40px;
            }
        }
        &>.t5{
            margin: 25px 10px;
            font-size: 16px;
            color: #333;
        }
    }
    .m20{
        margin-top: 20px;
    }

}