.modal_warp{
    width:360px;
    height:760px;
    background: url(../../../img/iphone.png) no-repeat;
    .content{
        width:324px;
        height:573px;
        position: relative;
        top:94px;
        left:16px;
    }
}