.pd-form {
    width: 900px;
    padding: 50px;
    position: absolute;
    top: 300px;
    left: 50%;
    margin-left: -500px;
    z-index: 190;
    .c9 {
        color: #999;
    }
    .f24 {
        font-size: 24px;
    }
    .close {
        width: 46px;
        height: 46px;
        position: absolute;
        top: 5px;
        right: 5px;
        background: url(../img/login/ic_close.png) no-repeat center;
        &:hover {
            opacity: 0.6;
        }
    }
    .card {
        position: relative;
        height: 298px;
        padding-left: 284px;
        border-bottom: 1px solid #ddd;
        .pic {
            position: absolute;
            left: 0;
            top: 0;
            width: 240px;
            height: 255px;
        }
        .level {
            position: absolute;
            z-index: 2;
            top: 5px;
            left: 180px;
            width: 54px;
            height: 54px;
            border-radius: 100%;
            background-color: rgba(0,0,0,0.4);
            text-align: center;
            line-height: 54px;
            font-family: Arial Black,Arial;
            font-style: black;
            font-size: 30px;
            color: #fc0;
        }
        .tit {
            font-size: 24px;
            line-height: 1em;
        }
        .city {
            font-size: 14px;
            padding: 6px 0 70px 0;
        }
        .t1 {
            &>i {
                font-size: 18px;
                color: #666;
                margin-right: 2em;
            }
        }
        em {
            font-size: 32px;
            padding: 0 6px;
        }
        .bar {
            margin: 18px 0 20px 0;
            background-color: #f0f0f0;
            border-radius: 10px;
            height: 12px;
            &>div {
                float: left;
                height: 12px;
                border-radius: 10px;
                background-color: #01e5b4;
            }
        }
    }
    .form {
        border-bottom: 1px solid #ddd;
        padding: 20px 0;
        margin-bottom: 20px;
        .row {
            padding: 8px 0;
            .col1 {
                float: left;
                width: 258px;
                padding-right: 26px;
                line-height: 42px;
                min-height: 20px;
                text-align: right;
            }
            .col2 {
            }
        }
        .btn1 {
            background-color: #01e5b4;
            color: #fff;
            padding: 0 16px;
            line-height: 32px;
            margin-left: 30px;
        }
        .put {
            line-height: 32px;
            border: 1px solid #ddd;
            border-radius: 5px;
            padding: 5px 10px;
            font-size: 14px;
            width: 310px;
            margin-right: 20px;
        }
        textarea.put {
            line-height: 1.5em;
            width: 490px;
            height: auto;
        }
        .put.chk {
            width: 24px;
            height: 24px;
            padding: 0;
            margin: 0;
            float: left;
        }
        label {
            line-height: 24px;
            padding-left: 1em;
            a {
                color: #3366cc;
                text-decoration: underline;
                &:hover {
                    color: #666;
                }
            }
        }
    }
    .btn2 {
        width: 140px;
        line-height: 42px;
        background-color: $f60;
        color: #fff;
        font-size: 18px;
        &:hover {
            background-color: $f90;
        }
    }
}
.pd-form.g{
  box-sizing: content-box;
  *{
    box-sizing: content-box;
  }
  .card{
    border: none;
    border-bottom: 1px solid #ccc;
  }
  .ant-input-number-lg input{
    box-sizing: border-box;
  }
   .form .put.chk{
     width:18px;
     height: 22px;
   }
  .form label{
    line-height: 20px;
  }
}

