
//历程

@import '../ucenter/_timetree.scss';

.pd-lich {
    .tit {
        background-color: #f5f5f5;
        color: #999;
        line-height: 40px;
        padding: 0 30px;
        border-radius: 20px;
    }
}
.timetree .text>.em1 {
    position: relative;
    border: 1px solid $f90;
    color: $f90;
    border-radius: 5px;
    margin-left: 20px;
    padding: 0 10px 0 30px;
    line-height: 24px;
    background: url(../img/project-detail/like.png) no-repeat 6px center;
    cursor: pointer;
    &::before {
        content: "";
        position: absolute;
        width: 8px;
        height: 8px;
        left: -6px;
        top: 7px;
        background-color: #fff;
        border-left: 1px solid $f90;
        border-top: 1px solid $f90;
        transform: rotate(-45deg);
    }
}

.timetree .text>.em2 {
  position: relative;
  border: 1px solid $f90;
  color: $f90;
  border-radius: 5px;
  margin-left: 20px;
  padding: 0 10px 0 30px;
  line-height: 24px;
  cursor: pointer;
  background: url(../img/project-detail/unlike.png) no-repeat 6px center;
  &::before {
    content: "";
    position: absolute;
    width: 8px;
    height: 8px;
    left: -6px;
    top: 7px;
    background-color: #fff;
    border-left: 1px solid $f90;
    border-top: 1px solid $f90;
    transform: rotate(-45deg);
  }
}

.timetree .item .img {
    margin-left: 200px;
    padding-top: 20px;
}
.timetree .item.done {
    background: url(../img/project-detail/pic11.png) no-repeat 300px top;
    padding-bottom: 50px;
}
