

@import '../common/_var.scss';
@import '../common/styles/pager.scss';

// 隐藏之前代码
.hide{
   display: none!important;
   visibility: hidden;
 } 
 .mi-my-invest{
    width: 992px;  
    &>.search-area{
      padding: 30px 30px 20px;
      background-color: #fff; 
      &>.top-title{
          font-size: 20px;
          color: #333;
          padding-bottom: 5px;
          border-bottom: dashed 1px #e6e6e6;
      }
      &>.search-tag{
          list-style:none ;
          margin-top: 20px;
          &>li{
              display: inline-block;
              font-size: 16px;
              color: $c6;
              margin-right: 25px; 
              cursor: pointer;
              &:hover{
                  color: $f90; 
              }
              &.active{
                  color: $f90; 
              }
              &.error{
                  color: #ff4f46;
              }
          }  
      }
      &>.search-text{
          margin-top: 35px;
          &>span{
              font-size: 15px;
              color: $c9;
          }
          Input{
              width: 230px;
              margin: 0 20px;
          }
      } 
    }
    &>p{
      margin:32px 30px 5px;
      color: $c9;
      font-size: 14px;
    }
    &>.project-list{
        padding: 30px;
        background-color: #fff;  
        &>span{
            display: inline-block;
            width: 100%;
            text-align: center;
            color: rgba(0, 0, 0, 0.45);
        
        }
        &>.im-paging{
            width: 100%;
            text-align: center;
        }
    }
 }