//.safeCenter  {
//  background-color: #fff;
//  & > .tab-row {
//    display: flex;
//    border-top: 1px solid #F5F5F5;
//    height: 40px;
//    min-width: 500px;
//    padding: 10px 30px;
//    align-items: center;
//    div {
//      flex: 1;
//      display: flex;
//      align-items: center;
//    }
//    span {
//      font-size: 16px;
//    }
//    a {
//      font-size: 14px;
//      color: #007aff;
//      text-decoration:underline;
//    }
//    i {
//      margin-top: 2px;
//      margin-right: 8px;
//    }
//
//  }
//}
//.ant-col-12 {
//  p{
//    width:400px;
//    font-size: 20px;
//    color:orange;
//    margin-top: 30px;
//    margin-left: -150px;
//  }
//}
//

.safeCenter{
  padding-bottom: 20px;
  p{
   font-weight: bold;
    //color:gray;
    font-size: 16px;
  }
  .line{
    width:96%;
    margin: auto;
    padding: 25px 15px;
    border-bottom: 1px solid lightgray;
    .block1 {
      display: inline-block;
      width:30%;
      vertical-align: middle;
      border-right:1px solid lightgray;
      padding: 0 8px;
      .i1{
        font-size: 30px;
        color:rgb(152,220,2);
        font-weight: bold;
        margin-right: 20px;
      }
      .i2{
        font-size: 24px;
        color:#FFCC00;
        font-weight: bold;
        margin-right: 20px;
      }
      .word{
        display: inline-block;
        font-size: 20px;
        font-weight: bold;
        color:grey;

      }
      .icon{
        display: inline-block;
        color:white;
        background: orange;
        width:15px;
        height:15px;
        text-align: center;
        line-height: 15px;
        margin-left: 10px;
      }
      .icon1{
        display: inline-block;
        color:white;
        background: lightgray;
        width:15px;
        height:15px;
        text-align: center;
        line-height: 15px;
        margin-left: 10px;
      }
    }
    .block2 {
      display: inline-block;
      width:57%;
      vertical-align: middle;
      padding: 0 20px;
      color:gray;
    }
    .block3 {
      display: inline-block;
      width:11%;
      vertical-align: middle;
      padding: 0 8px;
      color:#FF7E10;
      a{
        color:#FF7E10;
      }
      Link{
        color:#FF7E10;
      }
    }
  }

}

.per_account {
  background-color: #fff;
  padding: 30px;
  .return_money {
    border-bottom: 1px dashed #c9c9c9;
    em {
      font-size: 20px;
      color: #333;
      display: inline-block;
      margin-bottom: 5px;
    }
    span {
      float: right;
      margin-top: 10px;
    }
  }
  .return_money_desc {
    margin-top: 15px;
    clear: both;
    span {
      color: #ff9900;
      display: inline-block;
      margin-top: 5px;
      
    }
    .orange_font {
      color: #ff9900;
    }
    .icon_btn {
      float: right;
      right: 0px;
      display: inline-block;
      .btn {
        z-index: 999;
        cursor: pointer;
      }
    }
  }
}

.table_count_text {
  position: absolute;
  left: 0;
  bottom: 20px;
  color: #333;
}

.per_table_font > span {
  color: #333 !important;
}

.table_div {
  margin-top: 50px;
  .ant-table {
    overflow: visible;
  }
}

.coupon_list {
  .tips {
    color: #c9c9c9;
    display: block;
    margin-bottom: 5px;
    font-size: 12px;
  }
  .cp-coupon-content:nth-child(even) {
    margin-right: 80px;
  }
}

.money_dynamic_item {
  border: 1 solid #333;

  .money_dynamic_top_line {
    height: 30px;
    border-left: 1px solid #ff9900;
    margin-bottom: 5px;
    margin-left: 4px;
    padding-left: 20px;
    padding-top: 5px;
    span {
      color: #C9C9C9;
    }
  }
  .money_dynamic_circle {
    width: 10px;
    height: 10px;
    background-color: #ff9900;
    border-radius: 50px;
    display: inline-block;
    margin-right: 15px;
  }

  .money_dynamic_bottom_line {
    height: 100px;
    border-left: 1px solid #ff9900;
    margin-top: 5px;
    margin-left: 4px;
    padding-left: 20px;
    .money_dynamic_bottom_line_div {
      display: inline-block;
    }
    .money_dynamic_bottom_span {
      display: inline-block;
    }
  }
  .money_dynamic_bottom_money {
    color: #ff9900;
    font-weight: bolder;
    display: inline-block;
    width: 100px;
    text-align: right;
    margin-right: 10px;
    margin-top: -100px;
  }
}

